body{
    min-height: 100vh;
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url(https://www.mundodeportivo.com/alfabeta/hero/2020/03/ellie-the-last-of-us-parte-ii.jpg?width=768&aspect_ratio=16:9&format=nowebp) no-repeat center
    center fixed;
    background-size: cover;
}


.padre{
    font-family: fantasy;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    height: 200px;
    margin: 2rem auto;
    margin-right: 6rem;
    position: relative;
    text-align: center;
    width: 300px;
    border-radius: 10%;
}
.padre p{
    top: 15%;
    font-size: 1rem;
    position: absolute;
    margin: 0;
    padding: 0 1rem;
    vertical-align: middle;
}
