body{
    
    min-height: 100vh;
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url(https://i.blogs.es/98c1f6/gordinflon-the-last-of-us-12/1366_2000.jpeg) no-repeat center
    center fixed;
    background-size: cover;
    background-position-y: 1%;
}
.padre{
    font-family: fantasy;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    height: 162px;
    position: relative;
    text-align: center;
    width: 300px;
    border-radius: 10%;
}
.padre p{
    
    font-size: 1rem;
    position: absolute;
    margin: 0;
    padding: 0 1rem;
    vertical-align: middle;
}

